<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>
Layout File
<% if (!user) { %>
NO USER YET
<p>
    <a href="/">Home</a> |
    <a href="/login">Log In</a>
</p>
<% } else { %>
<p>
    Hi <%= user.displayName %>!!!!
    <a href="/">Home</a> |
    <a href="/account">Account</a> |
    <a href="/logout">Log Out</a>
</p>
<% } %>
<div class="menu">
    <ul>
        <li>
            <a href="< % = oauth_link %>">click here to oauth</a>
        </li>
    </ul>
</div>
<%- body %>
app id here
<div id="app" />
<script src="bundle.js" type="text/javascript"></script>
</body>
</html>